

.hero {
  position: relative;
  height: calc(100vh - 127px);
  @include media( "screen", ">bp1Width") {
    min-height: calc(100vh - 127px);
    height: 100%;
  }
  overflow: hidden;
  margin-bottom: $vertical_rhythm;
}

.hero_image {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  @include media( "screen", ">bp1Width") {
    height: auto;
  }
}

.subhero {
  margin: 0 auto;
  width: 80%;
  .logo {
    height: 100px;
  }

  blockquote {

  }
}
