

.hero {
  position: relative;
  height: calc(100vh - 127px);
  overflow: hidden;
  margin-bottom: $vertical_rhythm;
}

.hero_image {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
